body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,9ecb2d+28,72aa00+48,8eb92a+73,9ecb2d+86 */
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(191,210,85,1) 0%, rgba(158,203,45,1) 28%, rgba(114,170,0,1) 48%, rgba(142,185,42,1) 73%, rgba(158,203,45,1) 86%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(158,203,45,1) 28%,rgba(114,170,0,1) 48%,rgba(142,185,42,1) 73%,rgba(158,203,45,1) 86%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(191,210,85,1) 0%,rgba(158,203,45,1) 28%,rgba(114,170,0,1) 48%,rgba(142,185,42,1) 73%,rgba(158,203,45,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin: 30px;
}
h2 {
  margin: auto;
  text-align: center;
}

.formulario{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: 1px solid black;
  text-align: center;
  width: 500px;
  height: 200px;
}

input{
  margin: 5px;
}

.B1{
  color: red ;
  width: 100px;
  height: 100px;
  font-size: 80px;
  margin: 5px;
  border: 1px solid black;
  background: rgb(3, 75, 3);
}
.B2{
  color: blue;
  width: 100px;
  height: 100px;
  font-size: 80px;
  margin: 5px;
  border: 1px solid black;
  background: rgb(3, 75, 3);
}
.board{
  border: 1px solid black;
  background: white;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);  
}
.X{
  color: red;
}
.O{
  color: blue;
}
.squares{
  background: white;
  font-size: 70px;

}
h3{
  text-align: center;
  font-size: 30px;
}
li{
  text-align: center;
}

